@import '../../../variables.scss';

$level-gep: 30px;

.side-menu {
  width: 400px;
  height: 100%;
  font-size: 13px;
  padding-right: 20px;
  border-right: 1px solid $border-light;

  &__header {
    border-bottom: 2px solid $border-normal;
    display: flex;
    padding: 0.3rem 1rem;

    span:last-child {
      margin-left: auto;
      margin-right: 2rem;
    }
  }

  &__body {
    .divider {
      border-bottom: 1px solid $border-normal;
    }

    .side-menu__folder {
      text-indent: $level-gep;

      div:first-child.divider {
        padding: 5px 0;

        * {
          padding-left: 5px;
        }
      }
    }

    .side-menu__sub-folder {
      padding: 5px 0;
      text-indent: $level-gep * 3;

      div:first-child {
        text-indent: $level-gep * 2;
      }

      * {
        padding-left: 10px;
      }
    }
  }
}
